.category {
    margin-top: 4.5rem;
    text-align: center;
}

.services {
    display: flex;
    margin: 4rem 6rem 0 6rem;
    justify-content: space-evenly;
}

.redBox {
    width: 4.5rem;
    height: 4.5rem;
    background-color: #DF6951;
    border-radius: 1.5rem;
    z-index: 0;
    position: relative;
    top: 11rem;
    left: -1.75rem;
}

.secondCategory {
    background-color: #FFF;
    box-shadow: 0px 1.85px 3.15px 0px rgba(0, 0, 0, 0),
    0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.01),
    0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.02),
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
    z-index: 1;
    position: absolute;
    border-radius: 1rem;

}

.container {
    margin-right: 5rem;
}

